:host{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 10px;
}
input{
  width: 60%;
  height: 100px;
  font-size: 3rem;
}

button{
  width: 60%;
  height: 100px;
  font-size: 3rem;
  background-color: black;
  color: #fff;
  cursor: pointer;
}
